<div>Create Order</div>
<div class="container">
    <div class="row">
        <div>
            <form novalidate id="create-order" class="order-form">
                <div class="form-group">
                    <label for="manager">Order Type</label>
                    <select
                            class="form-control"
                            id="manager">
                        <option ng-repeat="manager in $ctrl.MANAGERS" ng-bind="manager.fullName()"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="order-type">Order Type</label>
                    <select
                            class="form-control"
                            id="order-type">
                        <option ng-repeat="(orderTypeKey, orderTypeValue) in $ctrl.ORDER_TYPES" ng-bind="orderTypeValue"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="customer">Customer</label>
                    <input type="text" class="form-control" id="customer" placeholder="customer">
                </div>
                <div class="form-group">
                    <label for="provider">Provider</label>
                    <input type="text" class="form-control" id="provider" placeholder="customer">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>