<div>Create Order</div>
<div class="container">
    <div class="row">
        <div>
            <form name="$ctrl.orderForm" novalidate id="create-order" class="order-form">
                <div class="form-group">
                    <label for="manager">Order Type</label>
                    <select
                            class="form-control"
                            id="manager"
                            ng-model="$ctrl.formData.manager"
                            required="true">
                        <option ng-repeat="manager in $ctrl.MANAGERS"
                                ng-bind="manager.fullName()"
                                ng-value="manager">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="order-type">Order Type</label>
                    <select
                            class="form-control"
                            id="order-type"
                            ng-model="$ctrl.formData.orderType"
                            required="true">
                        <option ng-repeat="(orderTypeKey, orderTypeValue) in $ctrl.ORDER_TYPES"
                                ng-bind="orderTypeValue"
                                ng-value="orderTypeValue">
                        </option>
                    </select>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': $ctrl.orderForm.customer.$invalid && $ctrl.orderForm.customer.$touched}">
                    <label for="customer">Customer</label>
                    <input type="text"
                           class="form-control"
                           id="customer"
                           name="customer"
                           placeholder="customer"
                           ng-model="$ctrl.formData.customer"
                           ng-minlength="2"
                           ng-maxlength="15"
                           ng-pattern="/^(\D)+$/"
                           required="true">
                    <div class="has-error" ng-show="$ctrl.orderForm.customer.$touched">
                        <label class="control-label"
                               ng-show="$ctrl.orderForm.customer.$error.minlength" for="customer">min length must be more than 2
                        </label>
                        <label class="control-label"
                               ng-show="$ctrl.orderForm.customer.$error.maxlength" for="customer">max length must less than 15
                        </label>
                        <label class="control-label"
                               ng-show="$ctrl.orderForm.customer.$error.pattern" for="customer">must be letter only
                        </label>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': $ctrl.orderForm.provider.$invalid && $ctrl.orderForm.provider.$touched}">
                    <label for="provider">Provider</label>
                    <input type="text"
                           class="form-control"
                           id="provider"
                           name="provider"
                           placeholder="customer"
                           ng-model="$ctrl.formData.provider"
                           ng-minlength="2"
                           ng-maxlength="15"
                           ng-pattern="/^(\D)+$/"
                           required="true">
                    <div class="has-error" ng-show="$ctrl.orderForm.provider.$touched">
                        <label class="control-label"
                               ng-show="$ctrl.orderForm.provider.$error.minlength" for="provider">min length must be more than 2
                        </label>
                        <label class="control-label"
                               ng-show="$ctrl.orderForm.provider.$error.maxlength" for="provider">max length must less than 15
                        </label>
                        <label class="control-label"
                               ng-show="$ctrl.orderForm.provider.$error.pattern" for="provider">must be letter only
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>date Of Execution</label>
                    <div class="form-group">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{$ctrl.datePickerState.format}}"
                                   ng-model="$ctrl.datePickerState.dateOfExecution" is-open="$ctrl.datePickerState.isOpened"
                                   datepicker-options="$ctrl.datePickerState.options"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.datePickerState.open()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <button ng-disabled="$ctrl.orderForm.$invalid"
                        type="button"
                        ng-click="$ctrl.saveOrder()"
                        class="btn btn-primary">Save Order</button>
            </form>
        </div>
    </div>
</div>