<div class="container">
    <h2>Order list</h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Order id</th>
            <th>Order identifier</th>
            <th>Order type</th>
            <th>Order manager</th>
            <th>Order customer</th>
            <th>Order provider</th>
            <th>Order date of Execution</th>
            <th>Order status</th>
        </tr>
        </thead>
        <tbody ng-repeat="order in $ctrl.orderListService.getOrderList() track by order.id">
        <tr ng-show="!$ctrl.editMode || $ctrl.editOrder !== order.id">
            <td ng-bind="order.id"></td>
            <td ng-bind="order.identifier"></td>
            <td ng-bind="order.orderType"></td>
            <td ng-bind="order.manager.fullName()"></td>
            <td ng-bind="order.customer"></td>
            <td ng-bind="order.provider"></td>
            <td ng-bind="order.dateOfExecution.toDateString()"></td>
            <td ng-show="$ctrl.isEditable(order)">
                <span>in progress</span>
                <span class="glyphicon glyphicon-pencil"
                      aria-hidden="true"
                      ng-click="$ctrl.toggleEdit(order)">
                    </span>
            </td>
            <td ng-show="!$ctrl.isEditable(order)">Done</td>
        </tr>
        <tr ng-show="$ctrl.editMode && $ctrl.editOrder === order.id">
            <form novalidate name="$ctrl.currentOrderForm">
                <td ng-bind="order.id"></td>
                <td ng-bind="order.identifier"></td>
                <td>
                    <select
                            class="form-control"
                            id="order-type"
                            ng-model="order.orderType"
                            ng-options="orderTypeValue for (orderTypeKey, orderTypeValue) in $ctrl.ORDER_TYPES">
                    </select>
                </td>
                <td>
                    <select
                            class="form-control"
                            id="manager"
                            ng-model="order.manager"
                            ng-options="manager.fullName() for manager in $ctrl.MANAGERS">
                    </select>
                </td>
                <td>
                    <input type="text"
                           name="cutomer"
                           ng-model="order.customer"
                           ng-minlength="2"
                           ng-maxlength="15"
                           ng-pattern="/^(\D)+$/">
                </td>
                <td>
                    <input type="text"
                           class="form-control"
                           id="provider"
                           ng-model="order.provider"
                           ng-minlength="2"
                           ng-maxlength="15"
                           ng-pattern="/^(\D)+$/">
                </td>
                <td ng-bind="order.dateOfExecution.toDateString()"></td>
                <td>
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true"
                          ng-click="$ctrl.toggleEdit(order)">
                    </span>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>